<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <title>Bean Heads generator</title>
</head>
<body>
<main>
<form action="/avatar" target="preview" aria-labelledby="maintitle">
    <h1 id="maintitle">Bean Heads generator</h1>
</form>
<iframe name="preview" src="/avatar"></iframe>
</main>
</body>
</html>
