
@font-face {
    font-family: "Jost";
    src: url("/Jost-VF.ttf") format('truetype');
    font-display: swap;
}
  
* {
    box-sizing: border-box;
    font-family: Jost, sans-serif;
    margin: 0;
    outline-offset: 4px;
    padding: 0;
}

@supports (height: 100dvh) {
    html,
    body {
        height: 100dvh;
    }
}

body {
    color: #4a5568;    
    padding: 40px;
}

main {
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 0;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "avatar"
        "text"
        "copy";
    gap: 20px;
}

section:first-child {
    grid-area: text
}

section {
    grid-area: avatar;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #1a202c;
    text-wrap: balance;
}

a {
    color: #207097;
}

p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 10px;
    max-width: 60ch;
}

p.tagline {
    margin-bottom: 20px;
}

p.code {
    text-wrap: nowrap;
}

img {
    width: 80vw;
    max-width: 400px;
}

input {
    font-size: 1rem;
    color: #4a5568;
    padding: 5px;
    border: solid 1px #DBDFE6;
    border-radius: 5px;
    width: 60vw;
    max-width: 80vw;
}

input:focus-visible {
    border-color: white;
}

input.copiable {
    border-radius: 5px 0 0 5px;
    border-right-width: 0;
}

button {
    padding: 5px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #DBDFE6;
    font-size: 1rem;
    cursor: pointer;
}

button:active {
    scale: .9;
}

article {
    grid-area: copy;
    padding: 80px 0 80px 0;
    margin: auto
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 20px 0;
    color: #1a202c;
    text-wrap: balance;
}

p + h2 {
    margin-top: 80px;
}

article p {
    font-size: 1rem;
}

@media (width > 700px) {
    body {
        padding-right: 0
    }
    
    main {
        grid-template-rows: 85vh 1fr;
        grid-template-columns: auto auto;
        grid-template-areas:
            "text avatar"
            "copy copy";
        gap: 0;
    }

    input {
        width: 20ch;
    }

    article {
        padding: 0 40px 80px 0;
    }
}

@media (width > 800px) {
    input {
        width: 40vw;
        max-width: 60ch;
    }
}